<div style="float:right; padding-top: 15px; padding-right: 15px">
    <div>
        <a href="https://whiteboxml.com">
            <img src="https://whiteboxml.com/static/img/logo/black_bg_white.svg" width="250">
        </a>
    </div>
</div>

# Linear regression

## 0. data loading

In [1]:
import pandas as pd

df = pd.read_csv('../../week_11/hypothesis_testing/data/coches-de-segunda-mano-sample.csv')

df.head()

,url,company,make,model,version,price,price_financed,fuel,year,kms,...,doors,shift,color,photos,is_professional,dealer,province,country,publish_date,insert_date
0,e158ae0ca53119ca199c28c36b5c2fcd,9881bcdd5a0ad4733037b3fb25e69c3a,SEAT,Toledo,SEAT Toledo 4p.,950,NaN,Diésel,2000.0,227000,...,4,Manual,Verde,5,False,0f4bb8455d27349b8273109b66a847f3,Navarra,Spain,2020-12-18 10:47:13,2021-01-15 00:00:00
1,ff267ebb7e700246f47f84f3db660b4b,9881bcdd5a0ad4733037b3fb25e69c3a,CITROEN,C1,CITROEN C1 PureTech 60KW 82CV Feel 5p.,6200,NaN,Gasolina,2017.0,50071,...,5,Manual,Blanco,6,True,Autos Raymara,Tenerife,Spain,2021-01-02 11:25:40,2021-01-15 00:00:00
2,de4b02db28ea7786c622b969be10c7c7,9881bcdd5a0ad4733037b3fb25e69c3a,FORD,Transit Connect,FORD Transit Connect Van 1.5 TDCi 100cv Ambien...,7851,7024.0,Diésel,2016.0,103000,...,4,Manual,Blanco,10,True,Auto 96,Barcelona,Spain,2020-12-16 10:51:45,2021-01-15 00:00:00
3,0449972a4d07594acf92e9a7dd28b39c,9881bcdd5a0ad4733037b3fb25e69c3a,VOLKSWAGEN,Caravelle,VOLKSWAGEN Caravelle Largo 2.0 TDI 140 Comfort...,19426,NaN,Diésel,2014.0,120000,...,4,Manual,Blanco,9,True,Inniauto,Navarra,Spain,2020-11-25 11:09:14,2021-01-15 00:00:00
4,12c4fa49bd4fdf23f19ecf396d3f02ef,9881bcdd5a0ad4733037b3fb25e69c3a,FORD,Transit,FORD Transit 350 96kW L4 Ambiente Propulsion T...,22850,22800.0,Diésel,2017.0,107000,...,2,Manual,Blanco,4,True,"Autofleet España,s.l",Sevilla,Spain,2021-01-12 20:00:34,2021-01-15 00:00:00

## 1. data processing

In [2]:
import numpy as np

df_numeric = df.select_dtypes(include=np.number)

df_numeric.head()

   price  price_financed    year     kms  power  doors  photos
0    950             NaN  2000.0  227000    NaN      4       5
1   6200             NaN  2017.0   50071   82.0      5       6
2   7851          7024.0  2016.0  103000  100.0      4      10
3  19426             NaN  2014.0  120000  140.0      4       9
4  22850         22800.0  2017.0  107000  130.0      2       4

In [4]:
df_numeric.isna().sum() / len(df)

price             0.00000
price_financed    0.52874
year              0.00004
kms               0.00000
power             0.17056
doors             0.00000
photos            0.00000
dtype: float64

In [5]:
df_numeric.drop(columns=['price_financed'], inplace=True)

/home/ubuntu/miniconda3/envs/ironhack_env/lib/python3.7/site-packages/pandas/core/frame.py:4312: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [6]:
df_numeric.dropna(inplace=True)

/home/ubuntu/miniconda3/envs/ironhack_env/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

## 2. data modeling

In [8]:
feature_cols = [
    'year',
    'kms',
    'power',
    'doors',
    'photos',
]

target_col = 'price'

In [9]:
X = df_numeric[feature_cols]
y = df_numeric[target_col]

X.shape, y.shape

((41470, 5), (41470,))

In [10]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

X_train.shape, y_train.shape, X_test.shape, y_test.shape

((31102, 5), (31102,), (10368, 5), (10368,))

## 3. train algorithm

In [12]:
from sklearn.linear_model import LinearRegression

model = LinearRegression(fit_intercept=True)
model.fit(X_train, y_train)

model

LinearRegression()

In [14]:
model.coef_, model.intercept_

(array([ 7.03933011e+02, -4.71548804e-02,  1.61840985e+02, -6.12663933e+02,
        -2.06401902e+01]),
 -1416206.888576012)

## 4. test algorithm

In [13]:
y_pred = model.predict(X_test)

y_pred

array([ 6179.88905848, 70774.2869549 , 12568.62820903, ...,
       16514.30674742, -5383.85564427, 25074.96850958])

In [15]:
from sklearn.metrics import r2_score

r2_score(y_true=y_test, y_pred=y_pred)

0.6567322739829895

<div style="padding-top: 25px; float: right">
    <div>    
        <i>&nbsp;&nbsp;© Copyright by</i>
    </div>
    <div>
        <a href="https://whiteboxml.com">
            <img src="https://whiteboxml.com/static/img/logo/black_bg_white.svg" width="125">
        </a>
    </div>
</div>